body {
  display: flex;
  align-items: flex-start; 
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url('./assets/background.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 0; 
}

#root {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  position: relative; 
  align-items: center;
}

.navbar {
  display: flex;
  background-image: url('../src/assets/logo_background.png');
  background-size: 250px 180px;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background-color: #242424;
  border-radius: 12px;
  padding: 1em;
  margin-top: 250px; /* A navbarot lejjebb helyezi */
}

h1 {
  font-size: 3.0em;
  color: #213547;
  text-align: center;
  background-image: url('../src/assets/logo_background.png');
  background-size: 250px 180px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0.3em;
  position: absolute;
  top: 0px; /* A h1-t feljebb helyezzük, hogy közelebb legyen a tetejéhez */
  left: 50%;
  transform: translateX(-50%) translateY(-10%);
  width: 250px;
  height: 130px;
  line-height: 60px; /* A szöveg középre igazítása a háttérképhez */
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(224, 114, 18);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.Layout {
  transform: scale(0.9) translateX(20px);
  transform-origin: top left;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
